<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.min.css">
</head>

<body class="page-body">
  //= include/header.html
  <main>
    <div class="title-section__wrapper">
      <div class="title-section">Портфолио</div>
    </div>
    <div class="portfolio__wrapper">
      <section class="portfolio">
        <div class="portfolio__item slider-1 owl-carousel popup-gallery-1">
          <div class="item"><a href="img/_6240003.JPG"><img src="img/_6240003.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240004.JPG"><img src="img/_6240004.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240007.JPG"><img src="img/_6240007.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240009.JPG"><img src="img/_6240009.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240012.JPG"><img src="img/_6240012.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240013.JPG"><img src="img/_6240013.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240016.JPG"><img src="img/_6240016.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240018.JPG"><img src="img/_6240018.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240021.JPG"><img src="img/_6240021.JPG" alt=""></a></div>
        </div>
        <div class="portfolio__item slider-2 owl-carousel popup-gallery-2">
          <div class="item"><a href="img/_6240024.JPG"><img src="img/_6240024.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240025.JPG"><img src="img/_6240025.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240027.jpeg"><img src="img/_6240027.jpeg" alt=""></a></div>
          <div class="item"><a href="img/_6240028.JPG"><img src="img/_6240028.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240029.JPG"><img src="img/_6240029.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240030.JPG"><img src="img/_6240030.JPG" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-1.jpg"><img src="img/ilovepdf_com-1.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-2.jpg"><img src="img/ilovepdf_com-2.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-3.jpg"><img src="img/ilovepdf_com-3.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-4.jpg"><img src="img/ilovepdf_com-4.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-5.jpg"><img src="img/ilovepdf_com-5.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-6.jpg"><img src="img/ilovepdf_com-6.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-7.jpg"><img src="img/ilovepdf_com-7.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-8.jpg"><img src="img/ilovepdf_com-8.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-9.jpg"><img src="img/ilovepdf_com-9.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-10.jpg"><img src="img/ilovepdf_com-10.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com.jpg"><img src="img/ilovepdf_com.jpg" alt=""></a></div>

        </div>
        <div class="portfolio__item slider-3 owl-carousel popup-gallery-3">
          <div class="item"><a href="img/_6240034.JPG"><img src="img/_6240034.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240035.JPG"><img src="img/_6240035.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240037.JPG"><img src="img/_6240037.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240038.JPG"><img src="img/_6240038.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240040.JPG"><img src="img/_6240040.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240041.JPG"><img src="img/_6240041.JPG" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-12.jpg"><img src="img/ilovepdf_com-12.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-13.jpg"><img src="img/ilovepdf_com-13.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-14.jpg"><img src="img/ilovepdf_com-14.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-15.jpg"><img src="img/ilovepdf_com-15.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-16.jpg"><img src="img/ilovepdf_com-16.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-17.jpg"><img src="img/ilovepdf_com-17.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-17.jpg"><img src="img/ilovepdf_com-17.jpg" alt=""></a></div>
        </div>
        <div class="portfolio__item slider-4 owl-carousel popup-gallery-4">
          <div class="item"><a href="img/_6240044.JPG"><img src="img/_6240044.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240045.JPG"><img src="img/_6240045.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240046.JPG"><img src="img/_6240046.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240047.JPG"><img src="img/_6240047.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240048.JPG"><img src="img/_6240048.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240049.JPG"><img src="img/_6240049.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240054.JPG"><img src="img/_6240054.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240080.JPG"><img src="img/_6240080.JPG" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-21.jpg"><img src="img/ilovepdf_com-21.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-20.jpg"><img src="img/ilovepdf_com-20.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-19.jpg"><img src="img/ilovepdf_com-19.jpg" alt=""></a></div>
          <div class="item"><a href="img/ilovepdf_com-18.jpg"><img src="img/ilovepdf_com-18.jpg" alt=""></a></div>
        </div>
        <div class="portfolio__item slider-5 owl-carousel popup-gallery-5">
          <div class="item"><a href="img/_6240057.JPG"><img src="img/_6240057.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240058.JPG"><img src="img/_6240058.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240059.JPG"><img src="img/_6240059.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240060.JPG"><img src="img/_6240060.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240061.JPG"><img src="img/_6240061.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240062.JPG"><img src="img/_6240062.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240063.JPG"><img src="img/_6240063.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240064.JPG"><img src="img/_6240064.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240065.JPG"><img src="img/_6240065.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240069.JPG"><img src="img/_6240069.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240050.JPG"><img src="img/_6240050.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240051.JPG"><img src="img/_6240051.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240052.JPG"><img src="img/_6240052.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240053.JPG"><img src="img/_6240053.JPG" alt=""></a></div>
        </div>
        <div class="portfolio__item slider-6 owl-carousel popup-gallery-6">
          <div class="item"><a href="img/_6240072.JPG"><img src="img/_6240072.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240074.JPG"><img src="img/_6240074.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240075.JPG"><img src="img/_6240075.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240076.JPG"><img src="img/_6240076.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240077.JPG"><img src="img/_6240077.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240079.JPG"><img src="img/_6240079.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240081.JPG"><img src="img/_6240081.JPG" alt=""></a></div>
          <div class="item"><a href="img/_6240082.JPG"><img src="img/_6240082.JPG" alt=""></a></div>
          <div class="item"><a href="img/madona.JPG"><img src="img/madona.JPG" alt=""></a></div>
          <div class="item"><a href="img/IMG_20180829_163155.jpg"><img src="img/IMG_20180829_163155.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_20180829_163255.jpg"><img src="img/IMG_20180829_163255.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_20180829_163402.jpg"><img src="img/IMG_20180829_163402.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_20180829_163441.jpg"><img src="img/IMG_20180829_163441.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_20180829_163500.jpg"><img src="img/IMG_20180829_163500.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_20180829_163602.jpg"><img src="img/IMG_20180829_163602.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_20180829_163630.jpg"><img src="img/IMG_20180829_163630.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_20180829_163711.jpg"><img src="img/IMG_20180829_163711.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_20180829_163802.jpg"><img src="img/IMG_20180829_163802.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_9822-08-12-17-14-48.jpg"><img src="img/IMG_9822-08-12-17-14-48.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_9821-08-12-17-14-48.jpg"><img src="img/IMG_9821-08-12-17-14-48.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_9485-08-12-17-14-10.jpg"><img src="img/IMG_9485-08-12-17-14-10.jpg" alt=""></a></div>
          <div class="item"><a href="img/IMG_1087-16-03-18-09-59.jpg"><img src="img/IMG_1087-16-03-18-09-59.jpg" alt=""></a></div>
        </div>
      </section>
    </div>
  </main>
  //= include/footer.html
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script>
    $('.slider-1').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      dots: false,
      items: 1
    })
    $('.slider-2').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      dots: false,
      items: 1
    })
    $('.slider-3').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      dots: false,
      items: 1
    })
    $('.slider-4').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      dots: false,
      items: 1
    })
    $('.slider-5').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      dots: false,
      items: 1
    })
    $('.slider-6').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      dots: false,
      items: 1
    })
    $(document).ready(function() {
      $('.popup-gallery-1').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
          tCounter: '',
          enabled: true,
          navigateByImgClick: true,
          preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
        },
        zoom: {
          enabled: false,
          duration: 300, // don't foget to change the duration also in CSS
          opener: function(element) {
            return element.find('img');
          }
        },
        image: {
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
        }
      });
      $('.popup-gallery-2').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
          tCounter: '',
          enabled: true,
          navigateByImgClick: true,
          preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
        },
        zoom: {
          enabled: false,
          duration: 300, // don't foget to change the duration also in CSS
          opener: function(element) {
            return element.find('img');
          }
        },
        image: {
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
        }
      });
      $('.popup-gallery-3').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
          tCounter: '',
          enabled: true,
          navigateByImgClick: true,
          preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
        },
        zoom: {
          enabled: false,
          duration: 300, // don't foget to change the duration also in CSS
          opener: function(element) {
            return element.find('img');
          }
        },
        image: {
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
        }
      });
      $('.popup-gallery-4').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
          tCounter: '',
          enabled: true,
          navigateByImgClick: true,
          preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
        },
        zoom: {
          enabled: false,
          duration: 300, // don't foget to change the duration also in CSS
          opener: function(element) {
            return element.find('img');
          }
        },
        image: {
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
        }
      });
      $('.popup-gallery-5').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
          tCounter: '',
          enabled: true,
          navigateByImgClick: true,
          preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
        },
        zoom: {
          enabled: false,
          duration: 300, // don't foget to change the duration also in CSS
          opener: function(element) {
            return element.find('img');
          }
        },
        image: {
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
        }
      });
      $('.popup-gallery-6').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
          tCounter: '',
          enabled: true,
          navigateByImgClick: true,
          preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
        },
        zoom: {
          enabled: false,
          duration: 300, // don't foget to change the duration also in CSS
          opener: function(element) {
            return element.find('img');
          }
        },
        image: {
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
        }
      });
    });
  </script>
</body>

</html>