<div class="page-header__wrapper">
  <header class="page-header">
    <div class="page-header__top-wrapper">
      <div class="page-header__top">
        <div class="page-header__top-phone">
          <img src="img/decor/phone.svg" alt=""><a href="tel:89165360823">8-916-536-08-23</a>
        </div>
        <div class="page-header__top-mail"><img src="img/decor/mail.svg" alt=""><a href="mailto:liniya.1951@mail.ru">liniya.1951@mail.ru</a></div>
        <div class="page-header__top-social">
          <a href=""><img src="img/decor/inst.svg" alt=""></a>
          <a href=""><img src="img/decor/vk.svg" alt=""></a>
          <a href=""><img src="img/decor/odnoklassniki.svg" alt=""></a>
          <a href=""><img src="img/decor/facebook.svg" alt=""></a>
          <a href=""><img src="img/decor/twitter.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="page-header__bottom-wrapper">
      <div class="page-header__bottom">
        <a class="page-header__bottom-logo" href="index.html">Чертежи карандашом</a>
        <nav class="main-nav main-nav--closed">
          <button class="main-nav__toggle" type="button">Открыть меню</button>
          <ul class="main-nav__list">
            <li class="main-nav__list-item"><a href="price.html">Услуги и цены</a></li>
            <li class="main-nav__list-item"><a href="article-list.html">Статьи</a></li>
            <li class="main-nav__list-item active"><a href="portfolio.html">Портфолио</a></li>
            <li class="main-nav__list-item"><a href="contacts.html">Контакты и оплата</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>