.article-list {
  @extend %container;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: calc(50% - 10px);
    color: #000;
    margin-bottom: 20px;
    margin-right: 20px;
    &:nth-child(2n){
      margin-right: 0;
    }
    &:hover {
      .article-list__item-title {
        color: #1D75BF;
      }
    }
    &-img {
      width: 100%;
      height: auto;
    }
    &-title {
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
      padding-top: 7px;
      font-size: 22px;
      transition: 0.4s all;
    }
    &-category {
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
      color: rgba(0, 0, 0, .33);
      font-size: 14px;
      padding-top: 5px;
    }
    &-descr {
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
      line-height: 24px;
    }
  }
}
@media #{$mobile-widths}{
  .article-list{
    width: 100%;
    &__item{
      width: 100%;
      margin-right: 0;
      &-title{
        font-size: 18px;
      }
      &-descr{
        font-size: 16px;
        line-height: 22px;
      }
      &-category{
        font-size: 13px;
      }
    }
  }
}